* {
  text-align: center;
  font-family: monospace;
}

h2 {
  color: blueviolet;
}

table {
  margin: 0 auto;
  border: 2px solid;
  border-collapse: collapse;
  width: 60%;
}

th {
  background-color: darkgray;
  color: white;
  font-weight: 900;
  font-size: 24px;
  height: 70px;
  border-bottom: 1px solid black;
}

tr {
  height: 25px;
  border: 1px solid;
}

.Selectors,
.Category {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}

.Description {
  text-align: start;
}
